*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #666;
}
@font-face {
    font-family: 'bold';
    src: url(../fonts/ubisoftsans-bold.woff2);
}
@font-face {
    font-family: 'light';
    src: url(../fonts/ubisoftsans-regular.woff2);
}
.navbar{
    position: fixed;
    font-family: bold;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
.nav-content{
    width: 90%;
    height: 100%;
    display: flex;
    position: relative;
}
.nav-left{
    display: inline-block;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-left span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}
.nav-left span:hover{
    background-color: white;
}
.nav-left span:hover  a{
    color: black;
}
.nav-left a{
    color: white;
    text-decoration: none;
}
.main-logo{
    width: 160px;
    height: 100%;
    background-image: url(../image/main-logo.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.nav-item1:hover  .sub-menu1{
    visibility: visible;
}
.nav-item2:hover .sub-menu2{
    visibility: visible;
}
.nav-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    direction: rtl;
}
.nav-right h3{
    margin: 0 50px;
}
.sub-menu1 , .sub-menu2{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    color: black;
    background-color: white;
    padding: 30px;
    height: 620px;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    cursor: default;
}
.sub-menu1 .by-category{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.sub-menu1 .by-platform{
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
}
.sub-menu1 .by-game{
    grid-row: 1 / span 4;
    grid-column: 2 / span 1;
}
.sub-menu1 table , .sub-menu2 table{
    width: 90%;
}
.sub-menu1 .table-header , .sub-menu2 .table-header{
    font-family: bold;
    font-size: 13px;
    opacity: 0.85;
    padding: 10px;
    border-bottom: 1px solid rgba(9, 7, 7, 0.377);
}
.sub-menu1  td , .sub-menu2 td{
    cursor: pointer;
    font-family: light;
    font-size: 16px;
    padding: 10px;
}
.sub-menu1 td:hover , .sub-menu2 td:hover{
    font-weight: bold;
}
.discover{
    grid-column: 3 / span 2;
    grid-row: 1 / span 5;
}
.discover p{
    font-family: bold;
    font-size: 13px;
    opacity: 0.85;
    padding: 13px;
}
.discover-pic{
    width: 100%;
    height: 80%;
    background-image: url(../image/ubi-global_nav-discover_ubi_plus.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.sub-menu1 .btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 ;
    grid-column: 1 / span 2;
}
.sub-menu1 .btn1 button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #ff0d78;
    font-family: bold;
    font-size: 17px;
    color: white;
    background-color: #ff0d78;
    cursor: pointer;
}
.sub-menu1 .btn1 button:hover{
    background-color: white;
    color: #ff0d78;
}
.sub-menu1 .btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 6 ;
    grid-column: 3 / span 2;
}
.sub-menu1 .btn2 button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #006ef5;
    font-family: bold;
    font-size: 17px;
    color: white;
    background-color: #006ef5;
    cursor: pointer;
}
.sub-menu1 .btn2 button:hover{
    background-color: white;
    color: #006ef5;
}
.sub-menu2 .by-category{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
.sub-menu2 .by-game{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}